In [1]:
import matplotlib
import pandas as pd
from matplotlib import pyplot as plt
from glob import glob

from extract.jobs import parse_mallob, get_baseline

In [3]:
# Parse old log
pd.DataFrame(parse_mallob("old/"))

,identifier,start_time,end_time,duration,result,start_generate_cubes,end_generate_cubes,root_node,number_send_cubes,number_returned_cubes
0,1,0.262,1.227,0.965,UNSAT,0.28143,0.957025,1,30,18
1,2,1.227,41.312,40.085,UNSAT,1.25364,21.6993,0,32,7
2,3,41.313,78.362,37.049,UNSAT,41.3445,60.8856,0,32,9
3,4,78.363,116.676,38.313,UNSAT,78.3843,97.8568,0,32,7

In [4]:
# Parse new log
pd.DataFrame(parse_mallob("new/"))

,identifier,start_time,end_time,duration,result,start_generate_cubes,end_generate_cubes,root_node,number_send_cubes,number_returned_cubes
0,1,0.283,1.583,1.300,UNSAT,0.307823,1.29111,1,30,17
1,2,1.583,45.201,43.618,UNSAT,1.62128,22.9283,0,32,7
2,3,45.202,92.943,47.741,UNSAT,45.2644,67.365,0,32,7
3,4,92.943,141.960,49.017,UNSAT,93.0206,116.685,0,40,10