In [1]:
import matplotlib
import pandas as pd
from matplotlib import pyplot as plt
# https://towardsdatascience.com/how-to-create-and-customize-venn-diagrams-in-python-263555527305
from matplotlib_venn import venn2, venn2_circles
from matplotlib_venn import venn3, venn3_circles

import numpy as np

from extract.jobs import parse_mallob, get_baseline

matplotlib.use("pgf")
matplotlib.rcParams.update({
    "pgf.texsystem": "pdflatex",
    'font.family': 'serif',
    'text.usetex': True,
    'pgf.rcfonts': False,
})

In [2]:
static_4_1_random_df = pd.DataFrame(parse_mallob("benchmark/static_4_1_random"))
static_7_4_random_df = pd.DataFrame(parse_mallob("benchmark/static_7_4_random"))
static_10_64_random_df = pd.DataFrame(parse_mallob("benchmark/static_10_64_random"))

In [4]:
four = static_4_1_random_df.set_index("identifier")["result"].rename("four")
seven = static_7_4_random_df.set_index("identifier")["result"].rename("seven")
ten = static_10_64_random_df.set_index("identifier")["result"].rename("ten")

result = pd.concat([four, seven, ten], axis=1, join="outer").fillna("UNKNOWN")

result.groupby(['four', 'seven', 'ten']).size().reset_index().rename(columns={0:'count'})

       four    seven      ten  count
0       SAT      SAT      SAT     51
1       SAT      SAT  UNKNOWN     34
2       SAT  UNKNOWN  UNKNOWN     18
3   UNKNOWN      SAT      SAT      3
4   UNKNOWN      SAT  UNKNOWN      6
5   UNKNOWN  UNKNOWN      SAT      3
6   UNKNOWN  UNKNOWN  UNKNOWN    212
7   UNKNOWN  UNKNOWN    UNSAT      2
8   UNKNOWN    UNSAT  UNKNOWN      5
9   UNKNOWN    UNSAT    UNSAT      1
10    UNSAT  UNKNOWN  UNKNOWN     10
11    UNSAT    UNSAT  UNKNOWN     14
12    UNSAT    UNSAT    UNSAT     40

In [63]:
fig = plt.figure()

# Schnittmenge der gelösten (Löst es die gleichen Instanzen?)
# default colors anschauen und dann die passenden übernehmen
venn3(subsets = (18 + 10, 6 + 5, 34 + 14, 3 + 2, 0, 3 + 1, 51 + 40), set_labels = ('$h=4$', '$h=7$', '$h=10$'), set_colors=('r', 'g', 'b'))

fig.set_size_inches(w=3, h=2)
fig.savefig("height/venn.pgf")

In [64]:
# Vergleiche nicht random mit random
fig = plt.figure()
fig.subplots_adjust(bottom=0.2, left=0.175)
temp_series = static_4_1_random_df[static_4_1_random_df["result"]!="UNKNOWN"].sort_values("duration").reset_index()["duration"]
temp_series = pd.Series(dict((v,k) for k,v in temp_series.iteritems()))
ax = temp_series.plot(color="r", figsize=(3,2))

temp_series = static_7_4_random_df[static_7_4_random_df["result"]!="UNKNOWN"].sort_values("duration").reset_index()["duration"]
temp_series = pd.Series(dict((v,k) for k,v in temp_series.iteritems()))
temp_series.plot(color="g", ax=ax)

temp_series = static_10_64_random_df[static_10_64_random_df["result"]!="UNKNOWN"].sort_values("duration").reset_index()["duration"]
temp_series = pd.Series(dict((v,k) for k,v in temp_series.iteritems()))
temp_series.plot(color="b", ax=ax)

ax.set_xlabel("run time in s")
ax.set_ylabel("\# solved problems in $\leq t$ s")

ax.legend(['$h=4$', '$h=7$', '$h=10$'])

fig.savefig("height/time.pgf")

In [65]:
fig = plt.figure()
fig.subplots_adjust(bottom=0.2, left=0.175)
temp_series = static_4_1_random_df[static_4_1_random_df["generate_duration"]>0].sort_values("generate_duration").reset_index()["generate_duration"]
temp_series = pd.Series(dict((v,k) for k,v in temp_series.iteritems()))
ax = temp_series.plot(color="r", figsize=(3,2))

temp_series = static_7_4_random_df[static_7_4_random_df["generate_duration"]>0].sort_values("generate_duration").reset_index()["generate_duration"]
temp_series = pd.Series(dict((v,k) for k,v in temp_series.iteritems()))
temp_series.plot(color="g", ax=ax)

temp_series = static_10_64_random_df[static_10_64_random_df["generate_duration"]>0].sort_values("generate_duration").reset_index()["generate_duration"]
temp_series = pd.Series(dict((v,k) for k,v in temp_series.iteritems()))
temp_series.plot(color="b", ax=ax)

ax.set_xlabel("run time in s")
ax.set_ylabel("generated cubes in $\leq t$ s")

ax.legend(['$h=4$', '$h=7$', '$h=10$'])

fig.savefig("height/generated.pgf")

# Passende caption hier wichtig
# Cubes generated for number of problems in the given time.

In [66]:
static_4_1_random_df[static_4_1_random_df["generate_duration"]<0].shape

(28, 12)

In [67]:
static_4_1_random_df['result'].value_counts()

UNKNOWN    232
SAT        103
UNSAT       64
Name: result, dtype: int64

In [68]:
static_7_4_random_df[static_7_4_random_df["generate_duration"]<0].shape

(80, 12)

In [69]:
static_7_4_random_df['result'].value_counts()

UNKNOWN    245
SAT         94
UNSAT       60
Name: result, dtype: int64

In [70]:
static_10_64_random_df[static_10_64_random_df["generate_duration"]<0].shape

(165, 12)

In [71]:
static_10_64_random_df['result'].value_counts()

UNKNOWN    299
SAT         57
UNSAT       43
Name: result, dtype: int64